services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 30
      start_period: 10s
    restart: unless-stopped

  api-gateway:
    build: ./backend/api-gateway
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
      API_GATEWAY_PORT: ${API_GATEWAY_PORT}
    ports:
      - "${API_GATEWAY_PORT}:${API_GATEWAY_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  communication-service:
    build: ./backend/communication-service
    environment:
      DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable
      COMM_SERVICE_PORT: ${COMM_SERVICE_PORT}
    ports:
      - "${COMM_SERVICE_PORT}:${COMM_SERVICE_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      api-gateway:
        condition: service_started
    restart: unless-stopped

  user-service:
    build: ./backend/user-service
    environment:
      APP_PORT: ${USER_SERVICE_PORT}
      DB_URL: "jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_DB}"
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${USER_SERVICE_PORT}:${USER_SERVICE_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      api-gateway:
        condition: service_started
    restart: unless-stopped

  management-service:
    build: ./backend/management-service
    environment:
      APP_PORT: ${MANAGEMENT_SERVICE_PORT}
      DB_URL: jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_DB}
      DB_USERNAME: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${MANAGEMENT_SERVICE_PORT}:${MANAGEMENT_SERVICE_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      api-gateway:
        condition: service_started
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "5173:80"
    depends_on:
      api-gateway:
        condition: service_started
      user-service:
        condition: service_started
      management-service:
        condition: service_started
      # communication-service не обязателен
    restart: unless-stopped

volumes:
  pgdata:
